.imageListTable{
	width: 100%;
}

.imageListTable td{
	white-space: nowrap;
	text-align: center;
}

.imageListTable th{
	white-space: nowrap;
	padding: 0 3px 0 3px;
}

.imageListTable .previewImage{
	text-decoration: none;
}

.imageInput table{
	width: 100%;
}

.imageInput th{
	white-space: nowrap;
	padding: 0 3px 0 3px;
}

.imageInput td{
	white-space: nowrap;
	text-align: center;
}

.imageInput .imageLink a{
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url("../img/link.png");
}

.imageInput .imageDelete a{
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url("../img/delete.png");
}

.imageInput .imagePreview a{
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url("../img/view.png");
}

.imageInput .imageError{
	color: red;
}

.imageInput .imageAlt {
	width: 50%;!important
}

.imageInput .imageTitle {
	width: 50%;!important
}