.priceInput .param input{
	width: 100px;
}

.priceInput .price input{
	width: 70px;
}

.priceInput table{
	width: inherit;
}

.priceInput .currency select{
	height: inherit;
	position: inherit;
	width: 60px;
}