.editor table {
	width: 100%;
	line-height: 15px;
}

.editor table td{
	padding: 5px;
}

.editor table td.title{
	width: 10%;
}

.editor input[type="text"], #imageUploadWindow input[type="text"]{
	border: 1px solid #999;
	width: 99%;
	display: block;
	height: 20px;
	padding: 0 3px 0 3px;
	color: #333;
	margin: 0;
}

.editor input[type="password"]{
	border: 1px solid #999;
	width: 200px;
	display: block;
	float: left;;
	height: 20px;
	padding: 0 3px 0 3px;
	color: #333;
	margin: 0 10px 0 0;
}

.editor input[type="file"]{
	border: 1px solid #999;
	width: 100%;
}

.editor table select.selectInput{
	width: 800px;
	border: 1px solid #999;
	background: #fff;
}

.editor table div.checkBoxSelectInput{
	height: 50px;
	width: 800px;
	border: 1px solid #999;
	background: #fff;
	float: left;
	overflow: auto;
}

.openHideEditArea {
	margin: 0 2px 2px 0!important;
}

.editor table tr:nth-child(odd){
	background:#f6fbc3;
}

.editor table tr:nth-child(even){
	background:#E0FAFD;
}

.editor table tr tr{
	background: inherit!important;
}

.editor input[type="submit"]{
	border: 1px solid #999;
	border-radius: 3px;
	background: #dadada;
	cursor: pointer;
}

.editor select{
	color: #333;
	font-size: 13px;
	padding: 0;
}

.editor .save_btn{
	text-align: right;
	padding: 5px;
}

.editor table .is_null{
    width: 1%;
}

.editor .latent{
	opacity: 0.3;
}

.editor table textarea{
	display: block;
	width: 99%;
	border: 1px solid #999;
	color: #333;
}

#imageUploadWindow .flag_selected, .editor .flag_selected{
	background-color: #118eea!important;
	color: #fff;
}

#imageUploadWindow td:first-child{
	width: 1%;
}

#imageUploadWindow .flag16, .editor .flag16{
	padding: 0 0 0 18px;
	background-repeat: no-repeat!important;
	border-radius: 2px;
	line-height: 16px!important;
}

.editor label.error{
	color: red;
	border-bottom: 1px dashed red;
}

.editor input.error{
	border: 1px solid red;
	background: #ffeaed;
}

.editor textarea.error{
	border: 1px solid red;
	background: #ffeaed;
}
.editor label{
	display: inline;
	font-size: 13px;
}


.flag16{
	width: 16px;
	height: 16px;
	cursor: pointer;
	float: left;
}

.flag16ru{
	background: url("../img/flags/ru.png") top left;
}

.flag16en{
	background: url("../img/flags/en.png") top left;
}

.generate_seo {
    width: 16px;
    height: 22px;
    background: url("../img/gen.gif") center no-repeat;
    float: left;
    cursor: pointer;
    margin: 0 5px 0 0;
}

.generate_sef {
    width: 16px;
    height: 22px;
    background: url("../img/gen.gif") center no-repeat;
    float: left;
    cursor: pointer;
    margin: 0 5px 0 0;
}