.grid-view {
	padding: 0!important;
}

.grid-view .items {
	border:0;
	width:100%;
	padding:0;
	border-collapse:collapse;
}

.grid-view .items thead {
	background: #82d0f4;
}

.grid-view .items td, .grid-view .items th {
	padding: 0 7px 0 7px;
	margin: 0;
}

.grid-view .items thead th {
	background:#58b0f0;
	text-align:center;
	line-height:25px!important;
	white-space:nowrap;
	padding:0 10px 0 10px;
	color:#fff;
	font-size:13px;
	font-weight:bold;
}

.grid-view .items th a {
	color:#fff;
}

.grid-view .items td {
	line-height: 25px;
	text-align: center;
}

.grid-view .items tbody tr:nth-child(odd) {
	background:#f6fbc3;
}

.grid-view .items tbody tr:nth-child(even) {
	background:#E0FAFD;
}

.grid-view. items tbody tr:hover {
	background: #fff;
}

.grid-view .items th a.asc {
	text-decoration:overline;
}

.grid-view .items th a.desc {
	text-decoration:underline;
}

.grid-view .items thead td {
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
}

.grid-view .items tbody td {
	text-align:center;
	line-height:30px;
	white-space:nowrap;
	padding:0 10px 0 10px;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	color:#333;
}

.grid-view .pager {
	text-align:center;
	padding:12px 0 12px 0;
	border-bottom:1px solid #ccc;
}

.grid-view .summary {
	line-height: 25px;
	text-align: left!important;
	padding: 0 7px 0 7px;
	background: #118eea;
	font-size: 12px;
	color: #fff;
}

.grid-view .summary a {
	text-decoration: underline;
	color: #fff;
}

.grid-view .summary a:hover {
	text-decoration: none;
}

.grid-view .filters td {

}

.grid-view .filters input {
	border: 1px solid #58b0f0;
	border-radius: 3px;
	width: 100%;
	text-align: center;
	background: #D9EEF1;
}

.grid-view .topLevel a {
	color: #118eea;
	font-weight: bold;
}